# Lab 09: Sets in Python

# Program 01:

In [11]:
phonebook1 = {'123-45-670', '234-56-78', '345-67-89', '123-45-67', '345-67-89'}
print(phonebook1)
set_len = len(phonebook1)
print("The length of phonebook1 is:", set_len)
print("The given phonebook1 is:", phonebook1)

{'345-67-89', '123-45-670', '234-56-78', '123-45-67'}
The length of phonebook1 is: 4
The given phonebook1 is: {'345-67-89', '123-45-670', '234-56-78', '123-45-67'}

# Program 02:

In [2]:
mix_data = {'Usman Institute of Technology', 17.5, (1,2,3,4,5,6)}
print(mix_data)
set_len=len(mix_data)
print("The length of mix data is:", set_len)

{'Usman Institute of Technology', 17.5, (1, 2, 3, 4, 5, 6)}
The length of mix data is: 3

# Program 03:

In [3]:
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])
print("For a Data Scientist specialization you need:", dataScientist)
print("For a Data Engineer specialization you need:", dataEngineer)

For a Data Scientist specialization you need: {'Git', 'Tableau', 'SQL', 'SAS', 'R', 'Python'}
For a Data Engineer specialization you need: {'Scala', 'Git', 'Java', 'Hadoop', 'SQL', 'Python'}

# Program 04:

In [4]:
My_empty_set = set()
My_empty_dictionary1 = dict()
My_empty_dictionary2 = ()

print(My_empty_set)
print(My_empty_dictionary1)
print(My_empty_dictionary2)

set()
{}
()

# Program 05:

In [5]:
My_topStudents = {'Bassam', 'Usman', 'Rafeh', 'Ahad', 'Wadood', 'Yusra', 'Asma'}
print('My top scoring students in Programing fundamentals are:', My_topStudents)
print('Oh, I guess I miss one student, let me add his name too')
print('Previously I have added :'+str(len(My_topStudents))+'students in my list')
My_topStudents.add('Khurram')
print('Thanks, I have remembered him')
print('Now my top scoring students names are:', My_topStudents)
print('Now after adding I have :'+str(len(My_topStudents))+'students in my list')

My top scoring students in Programing fundamentals are: {'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7students in my list
Thanks, I have remembered him
Now my top scoring students names are: {'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Khurram', 'Usman'}
Now after adding I have :8students in my list

# Program 06:

In [6]:
My_topStudents = {'Bassam', 'Usman', 'Rafeh', 'Ahad', 'Wadood', 'Yusra', 'Asma'}
print('My top scoring students in Programing fundamentals are:', My_topStudents)
print('Oh, I guess I miss one student, let me add his name too')
print('Previously I have added :'+str(len(My_topStudents))+'students in my list')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks, I have remembered him')
print('Now my top scoring students names are:', My_topStudents)
print('Now after adding I have :'+str(len(My_topStudents))+'students in my list')
print('Oh, I guess I have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:', My_topStudents)
print('Now after removing I have :'+str(len(My_topStudents))+'students in my list')

My top scoring students in Programing fundamentals are: {'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7students in my list
Thanks, I have remembered him
Now my top scoring students names are: {'Khurram Khan', 'Ahad', 'Yusra', 'Khurram Khalil', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after adding I have :9students in my list
Oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after removing I have :8students in my list

# Program 07:

In [7]:
My_topStudents = {'Bassam', 'Usman', 'Rafeh', 'Ahad', 'Wadood', 'Yusra', 'Asma'}
print('My top scoring students in Programing fundamentals are:', My_topStudents)
print('Oh, I guess I miss one student, let me add his name too')
print('Previously I have added :'+str(len(My_topStudents))+'students in my list')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks, I have remembered him')
print('Now my top scoring students names are:', My_topStudents)
print('Now after adding I have :'+str(len(My_topStudents))+'students in my list')
print('Oh, I guess I have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:', My_topStudents)
print('Now after removing I have :'+str(len(My_topStudents))+'students in my list')
My_topStudents.discard('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:', My_topStudents)
print('Now after removing I have :'+str(len(My_topStudents))+'students in my list')

My top scoring students in Programing fundamentals are: {'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7students in my list
Thanks, I have remembered him
Now my top scoring students names are: {'Khurram Khan', 'Ahad', 'Yusra', 'Khurram Khalil', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after adding I have :9students in my list
Oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after removing I have :8students in my list
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after removing I have :8students in my list

# Program 08:

In [8]:
My_topStudents = {'Bassam', 'Usman', 'Rafeh', 'Ahad', 'Wadood', 'Yusra', 'Asma'}
print('My top scoring students in Programing fundamentals are:', My_topStudents)
print('Oh, I guess I miss one student, let me add his name too')
print('Previously I have added :'+str(len(My_topStudents))+'students in my list')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks, I have remembered him')
print('Now my top scoring students names are:', My_topStudents)
print('Now after adding I have :'+str(len(My_topStudents))+'students in my list')
print('Oh, I guess I have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:', My_topStudents)
print('Now after removing I have :'+str(len(My_topStudents))+'students in my list')
My_topStudents.discard('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:', My_topStudents)
print('Now after removing I have :'+str(len(My_topStudents))+'students in my list')
My_topStudents.pop()
print('Now my top scoring students names after removing extra name are:', My_topStudents)
print('Now after removing I have :'+str(len(My_topStudents))+'students in my list')

My top scoring students in Programing fundamentals are: {'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7students in my list
Thanks, I have remembered him
Now my top scoring students names are: {'Khurram Khan', 'Ahad', 'Yusra', 'Khurram Khalil', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after adding I have :9students in my list
Oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after removing I have :8students in my list
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after removing I have :8students in my list
Now my top scoring students names after removing extra name are: {'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Now after removing I have :7students in my list

# Program 09:

In [9]:
My_topStudents = {'Bassam', 'Usman', 'Rafeh', 'Ahad', 'Wadood', 'Yusra', 'Asma'}
print('My top scoring students in Programming fundamentals are:', My_topStudents)
print('Lets me clear this list and prepare new list for the final exams')
My_topStudents = My_topStudents.clear()
print('Now after clearing the set I have :', My_topStudents)

My top scoring students in Programming fundamentals are: {'Ahad', 'Yusra', 'Rafeh', 'Asma', 'Bassam', 'Wadood', 'Usman'}
Lets me clear this list and prepare new list for the final exams
Now after clearing the set I have : None

# Program 10:

In [10]:
phonebook1 = {'123-45-67', '234-56-78', '345-67-89', '123-45-67', '345-67-89'}
phonebook3 = {'345-67-89', '456-78-90'}
print("Phonebook1 is :", phonebook1)
print("Phonebook3 is :", phonebook3)
print("The Union of Phonebook1 and Phonebook3:", phonebook1 | phonebook3)
print("The Union of Phonebook3 and Phonebook1:", phonebook3 | phonebook1)
print("The Intersection of Phonebook1 and Phonebook3:", phonebook1 & phonebook3)
print("The Intersection of Phonebook3 and Phonebook1:", phonebook3 & phonebook1)
print("The Difference Between Phonebook1 and Phonebook3:", phonebook1 - phonebook3)
print("The Difference Between Phonebook3 and Phonebook1:", phonebook3 - phonebook1)
print("The Symmetric Difference Between Phonebook1 and Phonebook3:", phonebook1 ^ phonebook3)
print("The Symmetric Difference Between Phonebook3 and Phonebook1:", phonebook3 ^ phonebook1)

Phonebook1 is : {'345-67-89', '234-56-78', '123-45-67'}
Phonebook3 is : {'345-67-89', '456-78-90'}
The Union of Phonebook1 and Phonebook3: {'345-67-89', '456-78-90', '123-45-67', '234-56-78'}
The Union of Phonebook3 and Phonebook1: {'345-67-89', '456-78-90', '123-45-67', '234-56-78'}
The Intersection of Phonebook1 and Phonebook3: {'345-67-89'}
The Intersection of Phonebook3 and Phonebook1: {'345-67-89'}
The Difference Between Phonebook1 and Phonebook3: {'234-56-78', '123-45-67'}
The Difference Between Phonebook3 and Phonebook1: {'456-78-90'}
The Symmetric Difference Between Phonebook1 and Phonebook3: {'456-78-90', '234-56-78', '123-45-67'}
The Symmetric Difference Between Phonebook3 and Phonebook1: {'456-78-90', '234-56-78', '123-45-67'}