# Lab 15: Introduction to Data Science Single and Multivariate Analysis Using Pandas, Matplot Libraries.

# Programming Exercise:

In [11]:
import pandas as pd
import os
print(os.path.abspath('../'))
# set the path where you have downloaded the data files
file_path = os.path.abspath('../Bilal Lab 15/')
print(file_path)
salary = pd.read_csv(file_path+'/Salary.csv')
# For windows, if the above paths doesn't works
# import os
# f_path = os.path.join(*['C:', 'Users', 'user', 'Desktop', 'Salary.csv'])
# train = pd.read_csv(f_path)
# or maybe try following to reach to the path
# absolute_path = os.path.abspath(os.path.dirname('Salary.csv'))

C:\Users\Muhammad Bilal\Desktop
C:\Users\Muhammad Bilal\Desktop\Bilal Lab 15

In [12]:
salary.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [14]:
salary.shape

(35, 2)

In [16]:
salary.dtypes

YearsExperience    float64
Salary               int64
dtype: object

In [17]:
categorical_var = salary.dtypes.loc[salary.dtypes=='object'].index
print(categorical_var)

Index([], dtype='object')

In [18]:
#Number of Unique values in each column
salary[categorical_var].apply(lambda x:len(x.unique()))

Series([], dtype: float64)

In [20]:
salary['YearsExperience'].unique()
len(salary['YearsExperience'].unique())

33

In [25]:
salary['YearsExperience'].value_counts()
salary['YearsExperience'].value_counts()/salary.shape[0]

4.0     0.057143
3.2     0.057143
12.3    0.028571
1.1     0.028571
2.0     0.028571
3.0     0.028571
4.5     0.028571
6.0     0.028571
9.0     0.028571
9.5     0.028571
10.5    0.028571
11.5    0.028571
13.5    0.028571
12.9    0.028571
7.9     0.028571
4.1     0.028571
5.1     0.028571
9.6     0.028571
7.1     0.028571
4.9     0.028571
8.2     0.028571
8.7     0.028571
11.2    0.028571
3.7     0.028571
2.9     0.028571
1.3     0.028571
10.3    0.028571
3.9     0.028571
2.2     0.028571
5.3     0.028571
5.9     0.028571
6.8     0.028571
1.5     0.028571
Name: YearsExperience, dtype: float64